@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Russo+One&display=swap");

:root {
  --primary: #040d12;
  --complement: #183d3d;
  --secondary: #5c8374;
  --light: #b0d1c5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--light);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Ubuntu;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background-color: var(--complement);
  border-radius: 16px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.display {
  font-family: "Pacifico", cursive;
  font-family: "Russo One", sans-serif;
  text-align: right;
  background-color: whitesmoke;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  font-size: 3rem;
  color: #152b36;
  border-radius: 16px 16px 0 0;
  overflow: scroll;
}

.operations {
  font-size: 1.5rem;
  color: var(--secondary);
}

.buttons-container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  width: 100%;
  font-family: "Fira Code";
}

#ac {
  border-radius: 0 0 0 16px;
  font-family: "Russo One";
}

#plus {
  border-radius: 0 0 16px 0;
}

.calc-btn {
  width: 25%;
  height: auto;
  border: none;
  background-color: hsl(180, 44%, 17%);
  color: white;
  font-size: 1.3rem;
}

.calc-btn:hover {
  background-color: hsla(180, 44%, 24%, 0.5);
}

#division,
#multiplication,
#minus,
#plus {
  background-color: hsl(201, 64%, 4%);
}

#division:hover,
#multiplication:hover,
#minus:hover,
#plus:hover {
  background-color: hsla(201, 64%, 4%, 0.7);
}
